
<!-- inicio formulario de cadastro -->
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>ID Paciente</mat-label>
      <input matInput disabled value="Paciente">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Endereço</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
   <mat-label>Número</mat-label>
   <input matInput>
  </mat-form-field></td>

  <td><mat-form-field class="example-full-width">
   <mat-label>Complemento</mat-label>
   <input matInput placeholder="Ex. Casa/Apto/Bloco">
  </mat-form-field></td>

  </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
         <td><mat-form-field class="example-full-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. somente os números">
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Ex. (XX) 9 9999 9999">
      </mat-form-field></td>

    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="nome@gmail.com">
      </mat-form-field></td>
    </tr></table>

    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary">Salvar</button>
        <button mat-raised-button color="primary">Editar</button>
        <button mat-raised-button color="warn">Excluir</button>
      </div>
    </section>

  </form>

  <!--fim formulario de cadastro -->



